/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define def  0
#define num  1
#define sym  2
#define ext  3
#define nav  4
#define sys  5

// #define fn   5

// &kscan0 {
//     debounce-period = <16>;
// };

&lt {
    flavor = "balanced";
    tapping-term-ms = <1024>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <1024>;
};

/ {

    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <1024>;
            bindings = <&mo>, <&tog>;
        };
    };

    keymap {
        compatible = "zmk,keymap";


        def {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤  H  ├─────┐                                     ┌─────┤  U  ├─────┐
// ┌─────┤  L  ├─────┤  W  ├─────┐                         ┌─────┤  P  ├─────┤  O  ├─────┐
// │     ├─────┤  N  ├─────┤     │                         │     ├─────┤  E  ├─────┤     │
// ├─────┤  R  ├─SFT─┤  T  ├─────┤                         ├─────┤  D  ├─SFT─┤  A  ├─────┤
// │  S  ├─CTL─┤     ├─GUI─┤     │                         │     ├─GUI─┤     ├─CTL─┤  I  │
// └─ALT─┤     ├─────┤     ├─────┘                         └─────┤     ├─────┤     ├─ALT─┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │ SPC ├─────┐                         ┌─────┤ SPC │
//                   └─num─┤ ESC │                         │ RET ├─sym─┘
//                         └─nav─┘                         └─fn──┘
            bindings = <
                &trans          &kp L           &kp H           &kp W         &trans
                &trans          &kp P           &kp U           &kp O         &trans

                &mt LALT S      &mt LCTRL R     &mt LSHFT N     &mt LGUI T     &trans
                &trans          &mt RGUI D      &mt RSHFT E     &mt RCTRL A    &mt RALT I

                &trans   &trans   &trans
                &trans   &trans   &trans

                &lt num SPACE   &lt nav ESC
                /* &lt fn RET      &lt sym SPACE */
                &kp RET      &lt sym SPACE
                >;
        };


        num {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤  V  ├─────┐                                     ┌─────┤  5  ├─────┐
// ┌─────┤  F  ├─────┤  Z  ├─────┐                         ┌─────┤  4  ├─────┤  6  ├─────┐
// │     ├─────┤  B  ├─────┤     │                         │     ├─────┤  2  ├─────┤     │
// ├─────┤  C  ├─SFT─┤  M  ├─────┤                         ├─────┤  1  ├─────┤  3  ├─────┤
// │ ALT ├─CTL─┤     ├─GUI─┤     │                         │     ├─────┤  0  ├─────┤  ;  │
// └─────┤     ├─────┤     ├─────┘                         └─────┤     ├─────┤     ├─────┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │     ├─────┐                         ┌─────┤ BSP │
//                   └─────┤     │                         │     ├─ext─┘
//                         └─────┘                         └─────┘
            bindings = <
                &trans      &kp F         &kp V         &kp Z        &trans
                &trans      &kp N4        &kp N5        &kp N6       &trans

                &kp LALT    &mt LCTRL C   &mt LSHFT B   &mt LGUI M    &trans
                &trans      &kp N1        &kp N2        &kp N3        &kp SEMI

                &trans   &trans   &trans
                &trans   &kp N0   &trans

                &trans      &trans
                &trans      &lt ext BSPC
                >;
        };


        sym {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤  [  ├─────┐                                     ┌─────┤  K  ├─────┐
// ┌─────┤  `  ├─────┤  ]  ├─────┐                         ┌─────┤  Q  ├─────┤  Y  ├─────┐
// │     ├─────┤  ,  ├─────┤     │                         │     ├─────┤  X  ├─────┤     │
// ├─────┤  '  ├─────┤  .  ├─────┤                         ├─────┤  G  ├─SFT─┤  J  ├─────┤
// │  /  ├─────┤     ├─────┤     │                         │     ├─GUI─┤     ├─CTL─┤ ALT │
// └─────┤     ├─────┤     ├─────┘                         └─────┤     ├─────┤     ├─────┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │ TAB ├─────┐                         ┌─────┤     │
//                   └─ext─┤     │                         │     ├─────┘
//                         └─────┘                         └─────┘
            bindings = <
                &trans      &kp GRAVE     &kp LBKT       &kp RBKT     &trans
                &trans      &kp Q         &kp K          &kp Y        &trans

                &kp SLASH   &kp SQT       &kp COMMA      &kp DOT       &trans
                &trans      &mt RGUI G    &mt RSHFT X    &mt RCTRL J   &kp RALT

                &trans   &trans   &trans
                &trans   &trans   &trans

                &mt ext TAB     &trans
                &trans          &trans
                >;
        };

        ext {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤  -  ├─────┐                                     ┌─────┤  8  ├─────┐
// ┌─────┤  \  ├─────┤  =  ├─────┐                         ┌─────┤  7  ├─────┤  9  ├─────┐
// │     ├─────┤ SFT ├─────┤     │                         │     ├─────┤ SFT ├─────┤     │
// ├─────┤ CTL ├─────┤ GUI ├─────┤                         ├─────┤ GUI ├─────┤ CTL ├─────┤
// │ ALT ├─────┤     ├─────┤     │                         │     ├─────┤     ├─────┤ ALT │
// └─────┤     ├─────┤     ├─────┘                         └─────┤     ├─────┤     ├─────┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │     ├─────┐                         ┌─────┤     │
//                   └─────┤     │                         │     ├─────┘
//                         └─────┘                         └─────┘
            bindings = <
                &trans      &kp BSLH      &kp MINUS      &kp EQUAL     &trans
                &trans      &kp N7        &kp N8         &kp N9        &trans

                &kp LALT    &kp LCTRL   &kp LSHFT      &kp LGUI      &trans
                &trans      &kp RGUI    &kp RSHFT      &kp RCTRL     &kp RALT

                &trans      &trans        &trans
                &trans      &trans        &trans

                &trans      &trans
                &trans      &trans
                >;
        };

        nav {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤ BtN ├─────┐                                     ┌─────┤  ↑  ├─────┐
// ┌─────┤ Bt1 ├─────┤ BtC ├─────┐                         ┌─────┤ PgU ├─────┤ PgD ├─────┐
// │     ├─────┤ SFT ├─────┤     │                         │     ├─────┤  ↓  ├─────┤     │
// ├─────┤ CTL ├─────┤ GUI ├─────┤                         ├─────┤  ←  ├─────┤  →  ├─────┤
// │ ALT ├─────┤     ├─────┤     │                         │     ├─────┤     ├─────┤     │
// └─────┤     ├─────┤     ├─────┘                         └─────┤     ├─────┤     ├─────┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │     ├─────┐                         ┌─────┤ SPC │
//                   └─────┤     │                         │     ├─sys─┘
//                         └─────┘                         └─────┘
            bindings = <
                &trans      &bt BT_SEL 0   &bt BT_NXT     &bt BT_SEL 2   &trans
                &trans      &kp PG_UP      &kp UP         &kp PG_DN      &trans

                &kp LALT    &kp LCTRL      &kp LSHFT      &kp LGUI       &trans
                &trans      &kp LEFT       &kp DOWN       &kp RIGHT      &trans

                &trans      &trans         &trans
                &trans      &trans         &trans

                &trans      &trans
                &trans      &lt SPACE sys
                >;
        };


        sys {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤ BtC ├─────┐                                     ┌─────┤ VlU ├─────┐
// ┌─────┤     ├─────┤ Usb ├─────┐                         ┌─────┤ Hom ├─────┤ Ins ├─────┐
// │     ├─────┤ SFT ├─────┤     │                         │     ├─────┤ VlD ├─────┤     │
// ├─────┤ CTL ├─────┤ GUI ├─────┤                         ├─────┤ End ├─────┤ Del ├─────┤
// │ ALT ├─────┤     ├─────┤     │                         │     ├─────┤     ├─────┤ Mut │
// └─────┤     ├─────┤     ├─────┘                         └─────┤     ├─────┤     ├─────┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │     ├─────┐                         ┌─────┤     │
//                   └─────┤     │                         │     ├─────┘
//                         └─────┘                         └─────┘
            bindings = <
                &trans     &trans      &out OUT_BLE    &out OUT_USB   &trans
                &trans     &kp HOME    &kp C_VOL_UP    &kp INS        &trans

                &kp LALT   &kp LCTRL   &kp LSHFT       &kp LGUI       &trans
                &trans     &kp END     &kp C_VOL_DN    &kp DEL        &kp C_MUTE

                &trans     &trans      &trans
                &trans     &trans      &trans

                &trans     &trans
                &trans     &trans
                >;
        };


//         fn {
//             ┌─────┐                                                 ┌─────┐
//       ┌─────┤ F3  ├─────┐                                     ┌─────┤     ├─────┐
// ┌─────┤ F2  ├─────┤ F4  ├─────┐                         ┌─────┤     ├─────┤     ├─────┐
// │ F1  ├─────┤ F7  ├─────┤ F12 │                         │     ├─────┤ SFT ├─────┤     │
// ├─────┤ F6  ├─────┤ F8  ├─────┤                         ├─────┤ GUI ├─────┤ CTL ├─────┤
// │ F5  ├─────┤ F10 ├─────┤ F13 │                         │     ├─────┤     ├─────┤ ALT │
// └─────┤ F9  ├─────┤ F11 ├─────┘                         └─────┤     ├─────┤     ├─────┘
//       └─────┘     └─────┘                                     └─────┘     └─────┘
//                   ┌─────┐                                     ┌─────┐
//                   │     ├─────┐                         ┌─────┤     │
//                   └─────┤     │                         │     ├─────┘
//                         └─────┘                         └─────┘
//             bindings = <
//                 &kp F1    &kp F2     &kp F3      &kp F4     &kp F12
//                 &trans    &trans     &trans      &trans     &trans
//
//                 &kp F5    &kp F6     &kp F7      &kp F8     &kp F13
//                 &trans    &kp RGUI   &kp RSHFT   &kp RCTRL  &kp RALT
//
//                 &kp F9    &kp F10    &kp F11
//                 &trans    &trans     &trans
//
//                 &trans    &trans
//                 &trans    &trans
//                 >;
//         };
//
//

     };
};

